<!DOCTYPE html>

<html lang="pl" >
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="app" >

    <div ng-controller="PostsCtrl" class="container">
        <h1>Najnowsze posty</h1>
        <form role="form">
            <div class="form-group">
                <input ng-model="postBody" class="form-control" />
                <span class="input-group-btn">
                    <button ng-click="addPost()" class="btn btn-default">Dodaj post</button>
                </span>
            </div>
        </form>
        <ul class="list-group">
            <li ng-repeat="post in posts" class="list-group-item">
                <strong>@{{post.username}}</strong>
                <span>{{post.body}}</span>
            </li>
        </ul>
    </div>
        
    <script type="text/javascript">    
        var app = angular.module('app', []);
        app.controller('PostsCtrl', function($scope) {
            $scope.addPost = function() {
                if ($scope.postBody) {
                    $scope.posts.unshift({
                        username: 'dickeyxxx',
                        body: $scope.postBody
                    });
                    $scope.postBody = null; //usunięcie zawartości pola input
                }
            }
            $scope.posts = [
                {
                    username: "dickeyxxx",
                    body: "Node rządzi"
                },
                {
                    username: "mzborowski",
                    body: "Testujemy AngularJS..."
                }
            ]
        });
    </script>    
  
</body>
</html>

